div {
  width: 1000px;
  height: 1000px;
  background-color: teal;
  display: flex;
  align-content: space-between;
}

.masa {
  width: 200px;
  height: 200px;
  background-color: thistle;
}

.otra-masa {
  width: 200px;
  height: 200px;
  background-color: tomato;
  float: none;
}
